body{
    /* font-size: 36px; */
}

#app{
    max-height: 100%;
    overflow-y: scroll;
    padding: 30px;
}

.question .answer{
    width: 50%;
    float: left;
}

.answer img{
    height: 200px;
    width: 50%;
}

.answer button{
    width: 100%;
    font-size:32px;
    white-space: normal;
}
