body{
    font-size: 36px;
}

ul.no-ticks{
    list-style: none;
}

.no-ticks li {
    padding-left: 20px;
    position: relative
}

.no-ticks li.active{
    font-weight: bold;
}

.no-ticks li.active:before{
    content: '<';
    position: absolute;
    left: 0;
    bottom: 4px;
}

.question .answer{
    width: 50%;
    float: left;
}

.answer button{
    width: 100%;font-size:18px;background-color:white;
}
