<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="app">
        <div v-if="activeScreen == 'welcomeScreen'">
            <h1 class="mb-5 display-1">Hello Tatev!</h1>
            <div class="display-4 lead mb-5">{{message}}</div>
            <div>
                <p class="display-3 font-weight-bold mb-5" v-if="displayReadyText">Ты прошла демо-тест, теперь ты готова к реальному испытанию. Подходи ответственно к ответу на вопросы, и тогда ты сможешь изменить чью-то судьбу</p>
                <p class="display-4 mb-5">Ты готова начать?</p>
                <div class="d-flex justify-content-center">
                    <button type="button" class="mr-5 btn btn-success btn-lg" :disabled="yesButtonDisabled" v-on:click="activeScreen='realQuiz'">ДА,
                        Я ГОТОВА</button>
                    <button type="button" class="btn btn-danger btn-lg" :disabled="noButtonDisabled" v-on:click="activeScreen='demoQuiz'">НЕТ,
                        Я ГОТОВА</button>
                </div>
            </div>
        </div>
        <div class="pt-5" v-if="activeScreen=='demoQuiz'">
            <div class="question">
                <div v-for="item in demoQuestions" :key="item.id">
                    <div v-if="item.active">
                        <p class="display-4 font-weight-bold pt-3">Вопрос:</p>
                        <p class="display-4 pb-5">{{item.text}}</p>
                        <p class="display-3 text-danger pb-3" v-if="displayWarning">Подумай хорошенько</p>
                        <div class="row">
                            <div v-for="answ in item.answers" class="col-6 answer">
                                <div v-if="item.images">
                                    <img v-bind:src="answ.url">
                                </div>
                                <button type="button" class="btn btn-info btn-lg" v-on:click="moveToNextQuestion(answ.id)" :disabled="answ.disabled">{{answ.litera}} {{answ.text}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-5" v-if="activeScreen=='realQuiz'">
            <div class="question">
                <div v-for="item in questions" :key="item.id">
                    <div v-if="item.active">
                        <p class="display-4 font-weight-bold pt-3">Вопрос:</p>
                        <p class="display-4 pb-5">{{item.text}}</p>
                        <p class="display-3 text-danger pb-3" v-if="displayWarning">Даю ещё одну попытку!</p>
                        <div v-for="answ in item.answers">
                            <div class="answer p-1">
                                <button type="button" class="btn btn-primary btn-lg" v-on:click="moveToNextQuestion(answ.id)">{{answ.litera}} {{answ.text}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="activeScreen=='finalText'">
            <div class="display-4 lead mb-5">
                <p class="display-4 mb-3">Поздравляем!</p>
                <p>Машина до <span class="font-weight-bold">Беловежской пущи</span> в составе тех, кого ты выбрала в последнем вопросе, ждёт тебя <span class="font-weight-bold">25 декабря</span>, чтобы лично познакомиться с Дедом Морозом и отметить твой др.</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>

</html>